/bin/
/lib/
/runtime/bin/
/examples/sanka/
/examples/*.o
/examples/anonymoustest
/examples/channeltest
/examples/cheesefinder
/examples/parsenumber
/examples/processviewer
/examples/total
/examples/wordmap
